*{
    margin:0;
    border-style: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.gridcontainer{
    display:grid;
    grid-template-rows:100vh;
    grid-template-columns:12vw 88vw ;
}
.item1{
    grid-row-start:1;
    grid-row-end: 2;
   grid-column:1/2;
    width:auto;
    background-color:#262522;
}
.item1 h3{

    color:white;
      font-weight: bold;
}
.item1 li{
    color:white;
  list-style-position: outside;
  list-style-type: none;
    padding:1vh;
    margin:1vh;
    font-size:medium;
    font-weight: bold;
}
.item2{
    grid-row:1/2;
     grid-column:2/3;
    width:auto;
    background-color:#302e2b;
    position:relative;
}
.item{
    display:flex;
}
.topbrand{
    position:absolute;
    top:10vh;
    right:04vw;
    left:50vw;
    color:white;
    font-size:x-large;
}
.h1second{
    margin-left:4vw;
}
.chessboard{
    position:absolute;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    top:15vh;
    left:8vw;
    right:45vw;
     width:64vh;
     border:2px solid white;

}
.chessboard>div{
    height:8vh;
    width:8vh;
}


/* .square1{
   
    background-color:#81b64c;
    grid-row-start:1;
    grid-row-end: 2;
    grid-column-start:1;
    grid-column-end: 2; 
} */
button{
    color:white;
    font-size:5vh;
    margin:2vh;
    background-color:#81b64c;
    height:12vh;
    width:50vh;
    border-top:none;
    border-left: none;
    border-right: none;
    border-radius:2vh;
    border-bottom:20px #81b64c ;
}
button:hover{
    cursor:pointer;
}